<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.liaoheng.bingwallpaper">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:name=".MApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.MainActivity"
                android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.SettingsActivity" android:theme="@style/AppTheme.Settings"/>
        <activity
                android:name=".ui.AboutActivity"
                android:label="关于"/>

        <service
                android:name=".service.BingWallpaperIntentService"
                android:exported="false" />

        <receiver
                android:name=".service.AutoUpdateBroadcastReceiver">
            <intent-filter>
                <action android:name="me.liaoheng.bingwallpaper.alarm.taskschedule"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <meta-data
                android:name="me.liaoheng.bingwallpaper.util.GlideModule"
                android:value="GlideModule"/>
    </application>

</manifest>