<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="me.liaoheng.wallpaper">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.touchscreen"
            android:required="false" />

    <application
            android:name=".MApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity
                android:name=".ui.MainActivity"
                android:configChanges="screenSize|orientation|keyboardHidden"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                    android:name="android.app.shortcuts"
                    android:resource="@xml/shortcuts" />
        </activity>
        <activity
                android:name=".ui.SettingsActivity"
                android:configChanges="screenSize|orientation|keyboardHidden"
                android:label="@string/menu_main_setting"
                android:theme="@style/AppTheme.Settings" />
        <activity
                android:name=".ui.LicenseActivity"
                android:configChanges="screenSize|orientation|keyboardHidden"
                android:label="@string/open_source_license" />
        <activity
                android:name=".ui.WallpaperHistoryListActivity"
                android:configChanges="screenSize|orientation|keyboardHidden"
                android:label="@string/menu_main_wallpaper_history_list" />
        <activity
                android:name=".ui.WallpaperDetailActivity"
                android:configChanges="screenSize|orientation|keyboardHidden"
                android:screenOrientation="behind"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".ui.IntroActivity"
                android:configChanges="screenSize|orientation|keyboardHidden"
                android:theme="@style/AppTheme.Intro" />
        <activity
                android:name=".ui.ShortcutActivity"
                android:excludeFromRecents="true"
                android:launchMode="singleTask"
                android:taskAffinity=""
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name=".widget.AppWidget_5x2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="me.liaoheng.wallpaper.UPDATE_WALLPAPER_COVER_STORY" />
                <action android:name="TITLE_CLICK" />
                <action android:name="CONTENT_CLICK" />
                <action android:name="CLICK_RETRY" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/appwidget_5x2" />
        </receiver>

        <receiver android:name=".widget.AppWidget_5x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="me.liaoheng.wallpaper.UPDATE_WALLPAPER_COVER_STORY" />
                <action android:name="TITLE_CLICK" />
                <action android:name="CLICK_RETRY" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/appwidget_5x1" />
        </receiver>

        <receiver android:name=".service.AutoSetWallpaperBroadcastReceiver">
            <intent-filter>
                <action android:name="me.liaoheng.wallpaper.ALARM_TASK_SCHEDULE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
                android:name=".service.WallpaperDaemonService"
                android:exported="false"
                android:process=":daemon" />

        <service
                android:name=".service.BingWallpaperIntentService"
                android:exported="false"
                android:process=":background" />

        <service
                android:name=".service.BingWallpaperCheckIntentService"
                android:exported="false" />

        <service
                android:name=".service.JobSchedulerDaemonService"
                android:exported="false"
                android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
                android:name=".service.FirebaseJobSchedulerDaemonService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <provider
                android:name=".data.provider.TasksProvider"
                android:authorities="me.liaoheng.wallpaper"
                android:exported="false" />

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>

        <provider
                android:name="androidx.work.impl.WorkManagerInitializer"
                android:authorities="${applicationId}.workmanager-init"
                tools:node="remove" />

        <meta-data
                android:name="firebase_crashlytics_collection_enabled"
                android:value="false" />
        <meta-data
                android:name="firebase_analytics_collection_enabled"
                android:value="false" />
        <meta-data
                android:name="google_analytics_adid_collection_enabled"
                android:value="false" />
        <meta-data
                android:name="android.max_aspect"
                android:value="2.6" />
    </application>

</manifest>